<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <link rel="stylesheet" href="{%static '/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static '/css/bootstrap.min.js'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width,initial-scale=1.0">
    <title>Title</title>
</head>
<body style="background:gold">
{%load static%}
<div align="left">
 <img src="{%static '/hat.jpg'%}" width="100%" height="auto">


<div align="center">
    <p style="background:green;border:2px solid;font-size:40px;width=100%;">
    <marquee scrollamount="20" > RAJMAY BANK</marquee>
    </p>
</div>
</body>
</html>




